:root{
  --gridArea: 4/1/1/4;
  --colorBackgroundCards: grey;
  --colorBackgroundCardsHeld: blue;
}

.clsCardIndividualSuits{
      grid-area: 2/2/3/3;
}

h1 {
  background: blue;
  text-align: center;
}

.topPart {
  height: 200px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 230px 50px 165px auto 160px 230px;
  background: #005366;
}
ul{
  padding-left: 0px;
}
.topPart ul li{
  list-style: none;
  background: #00FFEF;
  font-weight: bold;
  font-size: 16px;
}
.winBetAll{
  background: #00FFEF;
  width: 50px;
  font-weight: bold;
  font-size: 16px;
}
.winBetExpectation{
  text-align: right;
  width: 0px;
}

#logoGirlsPhoto{
  height: 200px;
}
.textJoc{
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}
.divDblCard{
  height: 200px;
  background: lightgrey;
  display: grid;
  grid-template-rows: 0% 100%;
  font-size: 40px;
  font-weight: bold;
  ccolor: white;
  border: 1px solid black;
}

#dblCardPhoto{
  height: 100%;
  width: 100%;
}
.dblWinLevels{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 200px;
}
.levels{
  height: 35px;
  width: 130px;
  border: 2px solid red;
  background: white;
}
#jackpotLevel6{
  width: 190px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;

}


.midPart{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background: lightgrey;
}

.held{
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
  grid-area: 4/2/3/3;
}
.carti{
  border: 2px solid black;
  margin-left: 15px;
  height: 205px;
  width: 160px;
  background: grey;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 0.5fr;
  grid-template-areas: "areaNumar area2 area3" "area4 areaSuits area6" "area7 areaHeld area9";
}
.clsCardIndividual{
  height: auto;
  width: 100%;
  grid-area: var(--gridArea);
  align-self: flex-end;

}
.clasAreaNumar{
  grid-area: areaNumar;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}


.bottomPart{
  background: lightgreen;
  height: 55px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 15px;
}
.credit, .bet{
  font-size: 25px;
  font-weight: bold;
}
.betAllThree{
  display: grid;
  grid-template-columns: auto auto;

}
.divButtons{
  height: 15px;
  width: auto;
}
.credit{

}
.betAllThree{

}
.BetPlusMinus{

}
#betPlus, #betMinus{
  background: brown;
  color: white;
}
.dealCollectDoubble{
  text-align:center;
}
.redBlack{
  text-align: right;
}
#black{
  background: black;
  color: white;
}
.butoaneBottom{
  height: 40px;
  margin-top: -7px;
}
#deal, #collect, #doubble, #red, #black{
  width: 100px;
}
.betAllThree, .#dealCollectDoubble,.credit,.#redBlack{
  border: 1px solid brown;
}
