
h1 {
  background: blue;
  text-align: center;
}


.topPart {
  height: 230px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background: grey;
}
.topPart ul li{
  list-style: none;
  background: lightblue;
}
.winBetAll{
  background: pink;
  width: 40px;
}


.midPart{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background: lightgrey;
}
.card1{
  display: grid;
  grid-template-rows: auto 30px;
  text-align: center;
}
.held{
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: -15px;
}
.carti{
  border: 2px solid black;
  margin-left: 15px;
  height: 250px;
  width: 190px;
  background: blue;
}
.clsCardIndividual{
  height: 220px;
  width: 100%;
}


.bottomPart{
  background: lightgreen;
  height: 80px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 15px;
}
.credit, .bet{
  font-size: 25px;
  font-weight: bold;
}
.betAllThree{
  display: grid;
  grid-template-columns: auto auto;
}
.divButtons{
  height: 20px;
  width: auto;
}
.credit{

}
.betAllThree{

}
.BetPlusMinus{

}
#betPlus, #betMinus{
  background: brown;
  color: white;
}
.dealCollectDoubble{
  text-align:center;
}
.redBlack{
  text-align: right;
}
#black{
  background: black;
  color: white;
}
.butoaneBottom{
  height: 50px;
}
#deal, #collect, #doubble, #red, #black{
  width: 100px;
}
.betAllThree, .#dealCollectDoubble,.credit,.#redBlack{
  border: 1px solid brown;
}
